.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mate-regular {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: normal;
}
/* I chose these two fonts to mimmic the style of the website im reviewing */

p {
  max-width: 200ch !important;
}
/* I had wanted the answers to reach the right end of the page for certain sections. 
  After asking advice from a friend, she pointed out that the coding in reset.css is preventing this but I wasnt sure if I was allowed to change this. She suggested this as a workaround*/

* {
  font-family: "Mate", Courier, monospace;
  line-height: 1.5;
}
h1 {
  font-size: 100px;
  font-family: "Anton SC", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  background-color: #ffa441;
}
/* i tried to base my colour palette on Getty's Website, as a sort of callback. 
i also plan to  break up the questions into segments based on topic, for visual interest*/

.link {
  text-align: center;
}

.question {
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.answer {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
}

.right {
  text-align: right;
}
