.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0%;
  background-color: hsl(231, 10%, 14%);
  display: flex;
}

/* The organizing section is intended to be more orderly with straight edges for the swimlanes and a more rigid typeface,
which matches the restrictive drag and drop function used. 
 I decided to go for a minimal backdrop to give more emphasis to the tasks and to match the brainstorming section. 
 */

h1 {
  font-size: 2.5rem;
  font-family: "Roboto", Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

#todo-input {
  padding: 1px;
  min-width: 255px;
  margin-right: auto;
  outline: none;
}

.lanes {
  margin-top: 20px;
  display: flex;
  gap: 7px;
  margin-right: 20px;
  justify-items: space-between;
}

.swim-lane {
  border: pink double 5px;
  min-width: 170px;
  height: fit-content;
  padding-bottom: 20px;
  padding: 5px;
}

.task {
  background-color: aliceblue;
  color: black;
  margin: 15px;
  padding: 12px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: move;
  box-shadow: 10px 10px black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.task:hover {
  scale: 1.05;
}

.is-dragging {
  scale: 1.05;
  box-shadow: 5px;
  color: aliceblue;
}

/* The overall style direction for the brainstorming section was to have a more unrefined feel while still somewhat complementing the organizing section, so the sticky notes have the same rounded edges and box shadows as the tasks.
 The dashed borders and the bigger handwriting font is meant to give a more relaxed feel, which matches the freely draggable function the sticky notes have.
 */

#container {
  margin: 20px;
  padding: 10px;
  border: palegreen dashed 5px;
  background-color: #212228;
  min-width: 50%;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

#list .sticky-note {
  background-color: #e6b905;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  box-shadow: 10px 10px black;
  color: #212228;
  font-size: 1.2rem;
  text-align: center;
  padding: 60px 0;
  cursor: move;
  font-family: "Kalam", Impact, Haettenschweiler, Arial Narrow Bold, sans-serif;
}
